/* 
Colores:

.color1 { #ebf2f2 };
.color2 { #d9dbdb }; 
.color3 rojo burgundy { #800020}
.color4 azul oscuro { #140D66}

*/

/* Colores y Formatos */
header {
    background-color: #800020; /* Color de fondo del encabezado */
    text-align: center; /* Alineación del texto en el centro */
}

nav {
    background-color: #ebf2f2; /* Color de fondo de la barra de navegación */
    text-decoration: none; /* Elimina el subrayado del enlace (nota: esta línea no tiene efecto en una etiqueta <nav>) */
}
    
a:link {
    text-decoration: none; /* Elimina la subrayado del enlace */
    color: inherit; /* Utiliza el color del texto actual */
    cursor: pointer; /* Cambia el cursor a una mano cuando se pasa por encima del enlace */
}

.link-sin-decoracion {
    text-decoration: none; /* Elimina el subrayado del enlace */
    color: inherit; /* Utiliza el color del texto actual */
    cursor: pointer; /* Cambia el cursor a una mano */
}
  
footer {
    background-color: #d9dbdb; /* Color de fondo del pie de página */
}

#TextoImportante {
    font-weight: bold; /* Establece el peso de la fuente en negrita */
    color: #800020; /* Color del texto importante */
}

/* Tipografías */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /* Fuente utilizada para el cuerpo del texto */
    overflow-x: hidden; /* Evita la barra de desplazamiento horizontal en el cuerpo de la página */
}

/* Navbar Menu */
#menu a {
    color: #000; /* Color del texto de los enlaces del menú */
    text-decoration: none; /* Elimina el subrayado de los enlaces del menú */
    font-size: 16px; /* Tamaño de fuente de los enlaces del menú */
    font-weight: bold; /* Establece el peso de la fuente en negrita para los enlaces del menú */
}

#menu button {
    font-size: 16px; /* Tamaño de fuente de los botones del menú */
    font-weight: bold; /* Establece el peso de la fuente en negrita para los botones del menú */
}

/* Carousel Index */
.carousel-inner{
    width: 30%; /* Ancho del carrusel */
}

/* Media Queries Pantalla SM */
@media (max-width: 768px) {
    #intro, #SobreFluna {
        width: 90% !important; /* Ancho del contenido en pantallas pequeñas */
    }
}

/* Media Queries Pantalla Extra SM */
@media (max-width: 576px) {
    .icono-wrap {
        flex-wrap: wrap !important; /* Cambia el comportamiento de flexbox a envolver en pantallas muy pequeñas */
        justify-content: center !important; /* Centra los elementos en pantallas muy pequeñas */
    }
}

/* Tamaño multimedia */
#imagenes-servicios1, #imagenes-servicios2, #imagenes-servicios3, #imagenes-servicios4, #redInstagram, #redLinkedin, #redYoutube, #redSpotify { 
    width: 100% !important; /* Ancho del elemento multimedia al 100% */
    text-align: center; /* Alineación del texto en el centro */
}

/* Contacto */
#contenedor-formulario {
    background: #ebf2f2; /* Color de fondo del contenedor del formulario */
    border-radius: 5px; /* Radio de borde del contenedor del formulario */
    padding-top: 10px; /* Espacio superior de relleno del contenedor del formulario */
    padding-bottom: 10px; /* Espacio inferior de relleno del contenedor del formulario */
    max-width: 500px; /* Ancho máximo del contenedor del formulario */
}

#titulo-formulario {
    color: #fff; /* Color del título del formulario */
}

.btn {
    background-color: #800020; /* Color de fondo de los botones */
    color: #fff; /* Color del texto de los botones */
    border-radius: 5px; /* Radio de borde de los botones */
    border: none; /* Borde de los botones */
    padding: 10px; /* Relleno de los botones */
    font-size: 16px; /* Tamaño de fuente de los botones */
    font-weight: bold; /* Establece el peso de la fuente en negrita para los botones */
}

.btn:hover {
    background-color: #70101098; /* Color de fondo de los botones al pasar el cursor (efecto hover) */
}

/* Footer */
footer {
    background-color: #d9dbdb; /* Color de fondo del pie de página */
    min-height: 100px; /* Altura mínima del pie de página */
    text-align: center; /* Alineación del texto en el centro */
    padding: 20px; /* Relleno del pie de página */
}

footer p {
    font-size: 12px; /* Tamaño de fuente del texto del pie de página */
    color: #000; /* Color del texto del pie de página */
}

#iconos i {
    font-size: 26px; /* Tamaño de fuente de los iconos */
    color: #000; /* Color de los iconos */
    padding: 0 8px; /* Espacio de relleno horizontal para los iconos */
}